<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        html, body {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .container {
            height: 100%;
        }

        nav {
            position: fixed;
            top: 0;
            left: 0;
            z-index: 5;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            width: 100%;
            height: 5rem;
            -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.75);
            transition: 0.7s;
        }

        article {
            margin-top: 5rem;
        }

        footer {
            background-color: #0fb8ad;
            line-height: 5;
        }
    </style>
</head>
<body>
<div class="container">
    <nav class="nav">
        <span>menu1</span>
        <span>menu2</span>
        <span>menu3</span>
    </nav>
    <article class="article">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean dolor diam, dictum a mi id, tincidunt gravida
        erat. Ut ac consequat quam. Etiam at erat laoreet, vulputate diam nec, mollis ante. Nullam rutrum dui non
        molestie efficitur. Vestibulum eu risus id libero commodo dapibus non ac urna. Suspendisse pharetra finibus
        mattis. Donec lacinia nibh id porttitor aliquet. Proin rutrum enim id dolor semper, non pellentesque ex
        pellentesque. Sed laoreet in sem sit amet dapibus. Morbi eget nulla auctor, feugiat libero vestibulum, elementum
        sem. Aliquam pulvinar tempus lacus, non posuere mauris consequat nec. Proin sapien sem, mollis eu lacinia non,
        tristique id sem. Etiam rutrum mauris eu lacus pellentesque auctor. In placerat nisi tortor, vel molestie elit
        malesuada et.

        Maecenas semper sit amet diam vitae lobortis. Duis eget finibus tortor. Donec vel rutrum ex, eu convallis erat.
        Phasellus dignissim a est ac blandit. Nunc sed tempus nunc. Quisque et erat at nisl placerat commodo. In hac
        habitasse platea dictumst. Quisque leo dolor, sodales vitae laoreet et, viverra nec ligula.

        Pellentesque fringilla congue augue, nec venenatis lectus lobortis sed. Suspendisse vel metus ipsum. Nullam eget
        elementum odio. Nunc non imperdiet libero, sed consectetur velit. Ut sit amet rhoncus nunc. Duis a consectetur
        est, a dapibus sem. Sed tristique faucibus ex sit amet vehicula.

        Sed et cursus augue, nec tempus ex. Praesent vitae posuere lacus. Phasellus et lobortis purus. Nulla posuere,
        augue sit amet pellentesque posuere, erat metus gravida arcu, id lacinia arcu quam ac magna. Duis ultricies nunc
        a tellus ultricies, ullamcorper rhoncus tortor venenatis. Pellentesque eget neque consectetur, cursus mauris
        sed, ultrices libero. Cras convallis, mauris vitae viverra placerat, metus urna pellentesque est, a interdum
        urna nunc at ante. Aliquam placerat condimentum sollicitudin. Vestibulum id mauris pretium, vehicula ligula sit
        amet, rutrum velit. Maecenas sem felis, commodo vitae magna porttitor, tristique sollicitudin turpis. Mauris et
        interdum lorem, sed pharetra tortor. Quisque maximus venenatis velit at sollicitudin. Pellentesque augue eros,
        suscipit nec est laoreet, convallis scelerisque erat.

        Sed lacinia aliquet nisl, nec feugiat augue. Aliquam ultricies elit sed quam elementum, non aliquet purus
        molestie. In porta justo vitae eros tincidunt malesuada. In cursus elit porta diam bibendum porta. Nulla
        facilisi. Phasellus facilisis eleifend risus nec dignissim. Phasellus ornare vehicula nisi, eget egestas risus
        ullamcorper at. Integer id felis ac ex luctus vehicula imperdiet in enim. Ut pellentesque gravida ante sit amet
        consequat. Donec et est tempor, pellentesque nunc placerat, cursus nibh. Sed tincidunt, augue ac euismod
        blandit, metus libero egestas mauris, vel vestibulum diam enim sit amet felis. Vestibulum ultrices luctus
        finibus.

        Sed quis augue at mauris maximus ultricies sit amet vel elit. In quis neque ac mauris tincidunt tincidunt quis
        nec mi. Aenean non lacinia elit. Sed at ullamcorper arcu. Vestibulum aliquet elit id interdum ornare. Sed
        faucibus lectus sodales est sodales congue. Vestibulum dapibus nec nibh et faucibus. Fusce quis purus dictum
        risus tincidunt dignissim.

        Sed arcu dolor, hendrerit commodo neque ac, pellentesque ultrices nunc. Sed fringilla commodo ipsum, sit amet
        rutrum nulla commodo vel. Nunc tristique et metus volutpat eleifend. In molestie iaculis nisi eu semper.
        Curabitur rutrum lectus sed mi facilisis vulputate. In hac habitasse platea dictumst. Aliquam ipsum dolor,
        viverra egestas felis quis, ullamcorper sagittis mi. Sed rutrum turpis quis scelerisque egestas. Proin eget est
        sit amet enim sagittis porta. Donec ut ultrices diam. Suspendisse sed pharetra orci. Suspendisse ipsum urna,
        venenatis sit amet hendrerit a, imperdiet in leo.

        Vivamus porta sapien ac volutpat porttitor. Duis imperdiet turpis sit amet faucibus egestas. Nullam varius, nunc
        ac accumsan finibus, justo nunc vehicula justo, at porta lectus purus quis lectus. Cras sit amet tellus
        tincidunt, pellentesque erat quis, commodo odio. Nullam a est efficitur, accumsan nisl id, bibendum est.
        Praesent molestie arcu ut urna finibus, ut fermentum justo congue. Quisque aliquam pretium sapien sed dignissim.
        Quisque dapibus id sem vel faucibus.

        Donec vel velit ipsum. Sed tristique, diam vehicula maximus fermentum, orci nisi rhoncus turpis, id lacinia
        turpis purus sed arcu. Integer in tempor sem. Suspendisse potenti. Nunc vulputate tempus dui at luctus. Donec
        ultricies ut augue at porttitor. Suspendisse nisi ex, malesuada id finibus sit amet, finibus quis elit. Nam
        aliquam pretium nunc, sed ultrices diam imperdiet id.

        Sed nunc odio, scelerisque ut hendrerit eget, tempus ut est. In id luctus mauris. Integer vel aliquet sapien.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque interdum
        elit vel eros placerat, euismod viverra orci viverra. Etiam quis felis eu ante condimentum ultricies ut vitae
        orci. Etiam rutrum et tortor ac condimentum. Sed at vestibulum nulla. Suspendisse vel efficitur ipsum, sed
        semper elit. Mauris in rutrum nisi, eu porta eros. Vestibulum tempor facilisis orci, vel scelerisque diam
        pellentesque quis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae;

        Aenean rhoncus neque sed dui pharetra, vel fringilla tortor volutpat. Mauris molestie dolor condimentum lorem
        pharetra mollis. Praesent eros eros, luctus sed interdum nec, sodales vel massa. Nullam quis urna quis sem
        egestas bibendum. Donec semper justo sed magna ullamcorper maximus. Vivamus mattis turpis felis, eget rhoncus
        velit vulputate consequat. Quisque purus ipsum, cursus vel est eu, consequat lacinia arcu. Aliquam facilisis
        vehicula nulla tincidunt mollis. Nullam est lorem, placerat eget condimentum quis, laoreet vitae ex. Vestibulum
        molestie varius magna a dignissim. Fusce imperdiet placerat metus, non aliquam lectus cursus id. Nunc sed nisi
        egestas, tincidunt odio vitae, pharetra sem. Nulla odio tellus, lacinia eget elit sit amet, tristique ultricies
        orci. Aliquam ac augue in augue dictum varius. Cras convallis lacinia eros ac commodo. Phasellus vitae tristique
        libero, vel rutrum elit.

        Phasellus sagittis, velit et dignissim rutrum, diam sem sollicitudin quam, id vehicula augue quam sit amet
        tortor. Pellentesque ut metus at turpis aliquet rhoncus. Aliquam mattis enim diam, id fringilla diam fringilla
        ac. Maecenas at dapibus est, ut laoreet ligula. Aliquam neque orci, auctor sed dui in, lobortis lobortis arcu.
        Donec neque orci, ultricies id finibus quis, rutrum sit amet ligula. Ut id felis nec augue euismod mattis at non
        risus. Aenean tempus dolor vel mauris ornare eleifend. Nulla vulputate rhoncus neque sed egestas. Vivamus
        maximus suscipit viverra. Integer ligula sem, sodales id sodales sit amet, pretium a tellus. Integer et risus
        vehicula erat molestie luctus ac at ex.

        Phasellus euismod tempor placerat. Vestibulum ultricies at tellus sit amet tincidunt. Sed euismod felis ac augue
        interdum imperdiet. Phasellus sed lacus mi. Maecenas facilisis arcu vulputate massa venenatis luctus. Cras
        pretium volutpat justo, nec finibus orci tempor non. Morbi orci nunc, interdum quis dictum sed, tincidunt eu
        nisi. Cras venenatis lorem arcu, at sollicitudin tortor euismod eu. Praesent eget nisl hendrerit, congue tellus
        ut, suscipit velit. Maecenas consequat nec sem sed convallis. Suspendisse sodales diam non lectus mollis, quis
        sodales urna sollicitudin. Proin a pharetra nibh. Mauris egestas rhoncus nisi et vestibulum. In purus leo,
        cursus nec dignissim non, porta in augue. Fusce vel molestie est. Praesent facilisis erat bibendum diam
        fringilla, eu finibus mauris gravida.

        Vivamus odio mauris, maximus sit amet augue in, vulputate varius arcu. Nam pretium faucibus mauris, in facilisis
        quam aliquet eu. Pellentesque ullamcorper augue ac augue convallis, id volutpat lacus posuere. Ut fringilla
        tincidunt porttitor. Nunc faucibus ipsum dolor, nec porta diam aliquam ut. Praesent sed diam ac nulla finibus
        fringilla sed quis nibh. Duis pharetra vitae sapien in tempor. Fusce a orci ut tellus elementum volutpat. Nullam
        dictum dictum tortor, non elementum turpis convallis nec. Etiam a purus ut lectus dignissim molestie. Phasellus
        rutrum eleifend finibus. Duis mollis dolor sit amet purus gravida pulvinar.

        Ut ultricies orci urna, vel vestibulum mi rhoncus nec. Morbi suscipit magna est, ultrices dictum metus euismod
        in. In quis ante quis lectus mollis rutrum ut non neque. Cras et pulvinar purus, a ornare elit. Aliquam enim
        odio, mollis in nibh tincidunt, dignissim mollis leo. In sed eleifend mauris. Fusce volutpat lorem ac tincidunt
        volutpat. Maecenas semper est eget gravida finibus.

        In pharetra rutrum purus et commodo. Proin dignissim facilisis diam eu sagittis. Sed id massa lorem. Sed
        fermentum convallis pretium. Donec ornare risus nunc, id maximus sem dignissim sed. Sed non ipsum sapien. Fusce
        vel luctus erat, sed convallis leo. Donec semper nibh dolor, et pharetra justo dictum vel. Cras quis ante
        libero. Mauris tempus suscipit sodales. Phasellus viverra ipsum non viverra fermentum. Fusce feugiat at tellus
        non sagittis. Mauris tempor ante convallis dolor suscipit, vel feugiat risus consequat. Sed nec lacus ornare,
        porttitor lacus a, egestas libero. Maecenas in nisl tempor, porttitor lorem quis, auctor augue. Praesent
        pulvinar ipsum vitae libero aliquam, eget tempus nulla ornare.

        Aenean imperdiet aliquet nunc, in bibendum turpis commodo sit amet. Mauris sed lobortis urna. Aenean cursus
        lobortis porttitor. Aenean rutrum nisl a ligula maximus convallis. Pellentesque vitae facilisis dolor, in
        bibendum nulla. Phasellus sodales diam sed ante congue pellentesque. Donec porta, ligula et vestibulum luctus,
        ex nisi fermentum ex, eu feugiat justo odio non lacus. Integer at nibh id tortor aliquet tincidunt ac vitae
        ipsum. Nam maximus odio sit amet purus posuere, vitae eleifend ante tincidunt. Donec fermentum justo arcu, et
        posuere velit tristique vitae. Donec vel elementum ipsum. Etiam vitae mi id mi bibendum rhoncus in non eros.
        Proin lobortis sit amet ex non posuere. Maecenas a tristique nisl. Aenean ornare, nibh elementum molestie
        dictum, dui nibh rutrum enim, at cursus ligula tellus sed leo. Duis sagittis augue ut turpis auctor ullamcorper
        in eu felis.

        Cras consectetur mattis est, sed scelerisque felis venenatis nec. Vestibulum at imperdiet metus. Pellentesque
        quam diam, tristique vitae tortor ullamcorper, sodales pellentesque justo. Integer volutpat vitae eros quis
        aliquet. Nulla porttitor, eros id eleifend egestas, magna justo tristique nisi, non suscipit est lectus non
        orci. Cras pellentesque risus id ex volutpat tristique. Praesent ullamcorper eget nunc in iaculis. Duis vel
        bibendum sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Interdum et malesuada fames ac ante
        ipsum primis in faucibus. Sed nec eleifend purus, in dignissim nulla. Nulla mollis justo eu massa tincidunt
        hendrerit.

        Pellentesque sed sem id mauris aliquet venenatis. Proin volutpat interdum lorem sed consequat. Maecenas feugiat
        quis nisl ut lacinia. Donec aliquam nec velit eu scelerisque. Fusce malesuada lorem quis felis condimentum
        lobortis. Nullam finibus elit eu nibh fringilla, at blandit purus placerat. Suspendisse tincidunt accumsan ex
        sit amet dictum. Nulla vel enim purus. Ut interdum venenatis faucibus. Fusce fermentum tellus ac mauris commodo,
        vel posuere lorem blandit. Maecenas nec leo quis nisi rutrum faucibus non in ante. Aliquam quam tellus,
        malesuada quis dictum sed, euismod ac justo. Vestibulum in facilisis orci, a eleifend tortor. Fusce ullamcorper,
        purus id tincidunt dictum, urna metus ornare ipsum, non suscipit elit orci blandit nulla. Aenean aliquet
        volutpat magna, nec mattis mauris blandit eget.

        Phasellus suscipit ligula ipsum, et semper eros tempus sed. Nunc ut lorem nisl. Donec ac congue arcu. Maecenas
        vehicula nibh vitae nisl dapibus, vel suscipit justo pretium. Quisque congue vehicula magna, vel tempor velit
        facilisis sit amet. Nam eget tincidunt metus. Quisque est mauris, suscipit nec laoreet vel, tristique vel velit.
        Maecenas laoreet consequat urna, vel euismod sem. In iaculis dolor commodo tempor semper. Suspendisse dictum
        facilisis metus, sit amet consequat velit elementum non. Duis condimentum ligula sed ipsum faucibus, a feugiat
        mi euismod. Nunc nisi lectus, sodales nec risus in, molestie feugiat nisi. Fusce vel nisl ut velit ultrices
        laoreet. Fusce at iaculis nisl, vel facilisis odio. Proin ac faucibus sapien. Nunc vulputate ante risus, in
        fringilla lorem faucibus vel.

        Nullam ut quam sodales, convallis ipsum eget, efficitur arcu. Ut libero ligula, tincidunt sed mi elementum,
        dapibus ornare ipsum. Quisque venenatis risus quis maximus pretium. Phasellus fringilla vitae dolor eget
        feugiat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut efficitur urna neque, et gravida mauris
        suscipit vitae. Phasellus pellentesque lorem erat, non varius nisi mollis sit amet. Morbi maximus ligula ac
        euismod facilisis. Suspendisse imperdiet orci vel ullamcorper feugiat. Fusce nec lectus iaculis, blandit metus
        eget, imperdiet metus. Etiam vitae nisl ut quam vulputate egestas ultrices eu metus. Maecenas pharetra consequat
        leo. Quisque viverra ipsum quis ligula consectetur, eu scelerisque enim aliquet. Aliquam vulputate hendrerit
        urna.

        Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean elementum, metus
        quis fringilla tincidunt, neque magna pulvinar neque, at rhoncus orci purus nec sem. Aenean volutpat risus diam,
        et pulvinar ante convallis a. Donec fringilla, nisl sed maximus vestibulum, mi ex molestie lorem, quis venenatis
        nisl nisi ac ipsum. Aenean id nulla vitae est vehicula gravida id sed tortor. Praesent imperdiet convallis dolor
        a cursus. Integer eleifend erat non diam tincidunt, nec eleifend lorem viverra.

        Etiam quis massa quis ex varius imperdiet. Ut arcu enim, lobortis ac lorem vitae, convallis vehicula leo.
        Vestibulum pretium velit viverra hendrerit malesuada. Vivamus eget felis hendrerit ligula aliquet pretium. Nulla
        sed imperdiet nulla. Donec sollicitudin ante non enim venenatis, quis sodales libero interdum. Vivamus
        scelerisque pharetra pharetra. Nullam est augue, egestas luctus tellus vitae, molestie scelerisque nibh. Integer
        suscipit orci at dolor venenatis scelerisque. Nam mollis in nibh at venenatis. Duis at massa tristique,
        imperdiet turpis nec, sagittis nulla. Mauris ut felis pretium, facilisis mi ac, convallis sapien.

        In eu diam vel mi lacinia commodo eget ut elit. Donec cursus felis eu urna commodo imperdiet. Cras in libero
        vitae nulla imperdiet fringilla. Fusce pulvinar diam eget sem dignissim pulvinar. Sed finibus augue dolor, non
        luctus metus ultrices nec. Nullam quis magna nec eros porta feugiat. Morbi molestie varius rhoncus. In hac
        habitasse platea dictumst. Sed sapien odio, tempor ut turpis non, luctus condimentum felis. Cras sit amet erat
        auctor lacus pellentesque venenatis. Pellentesque bibendum egestas ipsum, nec congue odio hendrerit ut. Nulla
        ultricies ac nunc nec suscipit. Suspendisse potenti. Pellentesque nec molestie eros.

        Mauris placerat ultricies ligula, id feugiat nunc maximus id. In tincidunt libero neque. Sed quis vehicula
        risus. Duis congue rhoncus ante, ac mattis est molestie non. Vestibulum lectus nulla, viverra quis diam nec,
        pellentesque blandit diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin vestibulum viverra
        diam eu consectetur. Donec vel mattis nisi, at dignissim ligula. Pellentesque habitant morbi tristique senectus
        et netus et malesuada fames ac turpis egestas. In hac habitasse platea dictumst. Nulla id turpis sit amet mi
        fringilla aliquam.

        Nam elementum nulla quis sem mollis, sit amet varius ex cursus. Nulla pharetra consectetur tortor nec cursus.
        Morbi quis rhoncus leo. Mauris accumsan, dolor at facilisis faucibus, neque nisl auctor justo, tempus lacinia
        urna leo nec sem. Donec luctus aliquam ante, sit amet porttitor sem consectetur a. Curabitur tempor augue id
        vestibulum venenatis. In porta ac orci a ultricies. Cras suscipit lorem sit amet tortor pretium auctor.

        Quisque quam velit, rhoncus ac risus in, consectetur venenatis ante. Vivamus vulputate augue vel ipsum rutrum
        pellentesque. Aenean ut elit vitae magna scelerisque consectetur. Nullam aliquet, sapien ut consequat molestie,
        nisl libero vehicula mauris, quis mattis ex neque sed sem. Vivamus imperdiet massa eu libero vehicula, sed
        bibendum dui cursus. Donec cursus nisi in pretium consequat. Nam a ex et tortor commodo porta. Mauris egestas
        urna eget enim commodo aliquam. Integer turpis eros, tempus egestas neque eu, placerat commodo enim. Fusce
        blandit, erat ut egestas feugiat, nisi elit vehicula velit, at tincidunt odio purus vel ligula. Vestibulum
        mollis ex non libero tincidunt luctus.

        Vestibulum at mollis velit, id finibus est. Suspendisse condimentum condimentum convallis. Sed hendrerit
        consequat quam, et gravida nibh consequat luctus. Nunc eros dolor, condimentum ornare lacinia vel, varius vel
        mauris. Curabitur nec aliquet dolor. Nam varius dolor tellus, sed luctus tellus dapibus porttitor. Aliquam vitae
        nisl risus. Fusce faucibus rhoncus eros, eu tempus mauris gravida ac. Mauris magna nunc, faucibus vitae
        pellentesque sit amet, convallis convallis orci. Quisque eget tellus dignissim, efficitur neque a, imperdiet
        nisl. Nulla commodo nisi sit amet lorem posuere faucibus. Phasellus eleifend mauris quis feugiat euismod.
        Pellentesque id felis orci. Cras cursus odio elit, vitae fringilla elit egestas eget. Duis orci felis, porttitor
        sed fringilla nec, maximus ac nisi. Aliquam lobortis mauris non dui pulvinar suscipit.

        Sed egestas sapien nec mauris luctus, vel venenatis arcu aliquam. Ut ultricies eros at libero tempus, ut
        tincidunt eros pellentesque. Duis aliquet et lorem vel ultrices. Nunc eget lacus volutpat, placerat augue
        placerat, faucibus tortor. Curabitur in mi nisl. Sed interdum id lorem in interdum. Donec ut tempor augue.
        Praesent fringilla nulla leo, ac pharetra nibh viverra eu. Suspendisse auctor tincidunt venenatis. Ut vestibulum
        tortor eu ipsum mollis, eget posuere elit feugiat. Praesent tincidunt imperdiet molestie. Praesent nisi massa,
        imperdiet eu turpis eleifend, tincidunt rhoncus odio. Aliquam vehicula mollis justo.

        Nulla eu urna dolor. Fusce feugiat et tellus et sollicitudin. Curabitur id metus eu nisi lacinia rutrum. Cras
        eget iaculis arcu. In aliquet ullamcorper augue, eu varius magna. Nunc at dapibus ante, ornare posuere lorem.
        Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Maecenas eu imperdiet
        sapien. Nullam ornare, quam nec iaculis iaculis, ipsum tortor sollicitudin neque, sit amet sodales ante odio non
        metus. Suspendisse lectus tortor, scelerisque in vehicula ac, tempus ac libero. Nullam felis ante, faucibus vel
        libero ut, sodales condimentum ex.
    </article>
    <footer class="footer">
        footer
    </footer>
</div>
<script>
    const nav = document.querySelector('nav');
    var prevY = 0;
    window.addEventListener('scroll', function (e) {
        const currentY = window.scrollY;
        if (currentY === 0 && prevY !== 0) {
            changeTop();
        }
        if (prevY === 0 && currentY !== 0) {
            changeNotTop();
        }
        prevY = currentY;
    });

    function changeTop() {
        setTimeout(function () {
            nav.style.boxShadow = 'none';
            nav.style.backgroundColor = 'transparent';
        }, 200);
    }

    function changeNotTop() {
        setTimeout(function () {
            nav.style.boxShadow = '1px 1px 7px 0px rgba(0,0,0,0.75)';
            nav.style.backgroundColor = 'lightblue';
        }, 200);
    }
</script>
</body>
</html>